In [1]:
from model import *
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
a = Model(5000, (-61.96, -10.96), 0.025, 0.3, "moist")

In [3]:
a.run()

100%|██████████| 150/150 [00:04<00:00, 31.27it/s]

In [22]:
SITES = pd.read_csv('sites/tupi_filtered.csv')

In [26]:
df = pd.DataFrame(columns=['name', 'age', 'country'])

In [33]:
df = df.append({'name': 'johnny', 'age': 23, 'country': 'spain'}, ignore_index=True)

In [34]:
df

     name age country
0  johnny  23   spain
1  johnny  23   spain

In [39]:
!python3 main.py

100%|█████████████████████████████████████████| 150/150 [00:05<00:00, 25.72it/s]
2524.510103550991
100%|█████████████████████████████████████████| 150/150 [00:04<00:00, 32.14it/s]
1618.6430473254975